<!--<h2 (click) = "OnHome()" >
    Animegination
</h2>-->
<!--<productsList *ngIf="selectedProduct == null" (productSelected)="selectedProduct = $event" ></productsList>
<product *ngIf="selectedProduct != null" [product]="selectedProduct" ></product>-->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                    data-target="#main-menu-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="https://reydavid.blob.core.windows.net/assets/Animegination-brand.PNG" 
                     alt="Animegination" height="20" />
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-menu-collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['Categories']">Shop by Category</a></li>
                <li><a [routerLink]="['Contact']">Shop by Category</a></li>
                <!--<li (click)="OnLiClick('about')"><a href="#">About Us</a></li>-->
                <li><a [routerLink]="['About']">About Us</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                       aria-haspopup="true" aria-expanded="false">
                            Features
                            <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Featured Titles</a></li>
                        <li><a href="#">Top Sellers</a></li>
                        <li><a href="#">New Items</a></li>
                        <li><a href="#">Close Out</a></li>
                        <li><a href="#">On Sale</a></li>
                        <li><a href="#">Live Action</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['News']">Recent News</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['Login']">Log in</a></li>
                <li><a [routerLink]="['Register']">Register</a></li>
                <li><a [routerLink]="['Cart']">Shopping Cart</a></li>
                <li><a [routerLink]="['Orders']">Your Orders</a></li>
                <li><a [routerLink]="['AccountInfo']">Your Account</a></li>
                <li><a [routerLink]="['Settings']">Your Settings</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>