<h2>{{product.ProductTitle}}</h2>
<div>Price: <strong>{{product.YourPrice | currency:'USD':true }} </strong></div>
<div>Rating: {{product.RatingID}} stars</div>
<img  src="https://reydavid.blob.core.windows.net/anime/{{product.ProductCode}}.jpg" alt="{{product.ProductCode}}" style="max-width: 300px" />
<br/>
<br/>
<button>
    <a href="http://www.animegination.net/Product/Details/{{product.ProductID}}" target="_blank">Buy in website now</a>
</button>
<h3>Description</h3>
<div>{{product.ProductDescription}}</div>
<h3>Product Details</h3>
<div>Format: {{product.MediumName}}</div>
<div>Category: {{product.CategoryName}}</div>
<div>Rated: {{product.ProductAgeRating}}</div>
<div>Run Time: {{product.ProductLength}} minutes</div>
<div>Released: {{product.ProductYearCreated}}</div>
<div>Publisher: {{product.PublisherName}}</div>

<!--<h2>{{product.producttitle}}</h2>
<div>Price: <strong>{{product.yourprice | currency:'USD':true }} </strong></div>
<div>Rating: {{product.ratingid}} stars</div>
<img src="https://reydavid.blob.core.windows.net/anime/{{product.productcode}}.jpg" alt="{{product.productcode}}" style="max-width: 300px" />
<br />
<br />
<button>
    <a href="http://www.animegination.net/Product/Details/{{product.productid}}" target="_blank">Buy in website now</a>
</button>
<h3>Description</h3>
<div>{{product.productdescription}}</div>
<h3>Product Details</h3>
<div>Format: {{product.mediumid}}</div>
<div>Category: {{product.categoryid}}</div>
<div>Rated: {{product.productagerating}}</div>
<div>Run Time: {{product.productlength}} minutes</div>
<div>Released: {{product.productyearcreated}}</div>
<div>Publisher: {{product.publisherid}}</div>-->
