<!--<div>
    <div class="home jumbotron centered">
        <h2>Account Info</h2>
        <h3 *ngIf="jwt">Your JWT is:</h3>
        <pre *ngIf="jwt" class="jwt"><code>{{jwt}}</code></pre>
        <pre *ngIf="jwt" class="jwt"><code>{{decodedJwt | json}}</code></pre>
        <p>Click any of the buttons to call an API and get a response</p>
        <p><a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Call Anonymous API</a></p>
        <p><a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Call Secure API</a></p>
        <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
        <h2 *ngIf="response">The response of calling the <span class="red"></span> API is:</h2>
        <h3 *ngIf="response">{{response}}</h3>
    </div>
</div>-->
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h2>Your Account</h2>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Orders</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-tall">
                            <p>{{recentPurchases}}</p>
                        </div>
                        <button type="button" class="btn btn-default anime-button" 
                                (click)="goOrders()">View Recent Orders</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Profile Settings</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-tall">
                            <strong>{{userAccount.FirstName}} {{userAccount.LastName}}</strong>
                            <div>{{userAccount.Email}}</div>
                            <div *ngIf="userAccount.CellPhone">{{userAccount.CellPhone}} (Cell)</div>
                            <div *ngIf="userAccount.HomePhone">{{userAccount.HomePhone}} (Home)</div>
                            <p></p>
                        </div>
                        <button type="button" class="btn btn-default anime-button" 
                                (click)="goProfile()">Edit</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Address Book</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-tall">
                            <div *ngIf="userAccount.Address && userAccount.City && userAccount.ZipCode">
                                <div>{{userAccount.Address}}</div>
                                <div>{{userAccount.City}}</div>
                                <div>{{userAccount.State}} {{userAccount.ZipCode}}</div>
                                <div>United States</div>
                                <p></p>
                            </div>
                            <div *ngIf="!userAccount.Address && !userAccount.City && !userAccount.ZipCode">
                                <p>{{missingAddressBook}}</p>
                            </div>
                            <div *ngIf="!userAccount.Address || !userAccount.City || !userAccount.ZipCode">
                                <div *ngIf="userAccount.Address || userAccount.City || userAccount.ZipCode">
                                    <p>{{incompleteAddressBook}}</p>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default anime-button" 
                                (click)="goAddress()">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
