<h2>{{product.producttitle}}</h2>
<div>Price: <strong>{{product.yourprice | currency:'USD':true }} </strong></div>
<div>Rating: {{product.ratingid}} stars</div>
<div></div>
<h3>Description</h3>
<div>{{product.productdescription}}</div>
<h3>Product Details</h3>
<div>Format: {{product.mediumid}}</div>
<div>Category: {{product.categoryid}}</div>
<div>Rated: {{product.productagerating}}</div>
<div>Run Time: {{product.productlength}} minutes</div>
<div>Released: {{product.productyearcreated}}</div>
<div>Publisher: {{product.publisherid}}</div>
